<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyBlog</title>
  <!-- google fonts --->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/modern-normalize.css">
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/posts.css">
  <link rel="stylesheet" href="/post-list.css">
{% block atom %}
  <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
{% endblock %}

  <script src="/js/nav.js" defer></script>
</head>

<body>
  <div class="banner"></div>
  <div id="wrapper">
    {% include "header.html" %}
    <main id="content">
      {% block content %} {% endblock content %}
    </main>
    {% include "footer.html" %}
  </div>
</body>
</html>
